asgiref==3.8.1
azure-core==1.38.0
azure-storage-blob==12.24.0
certifi==2025.1.31
charset-normalizer==3.4.1
dj-database-url==2.3.0
Django==4.2.30
django-environ==0.12.0
django-storages[azure]==1.14.4
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.10
joblib==1.4.2
numpy==2.2.4
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==12.2.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.33.0
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sqlparse==0.5.4
threadpoolctl==3.6.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.6.3
whitenoise==6.9.0
